<h3>AccountIndexComponent</h3>

<h1>Index</h1>

<p>
    <NavLink href="@String.Format("Accounts/CreateAccount")" class="btn btn-primary">Create Account</NavLink>
    <NavLink href="@String.Format("Accounts/CreateRole")" class="btn btn-secondary">Create Role </NavLink>
    @*<a asp-action="CreateAccount" class="btn btn-primary">Create New Account</a>
    <a asp-action="CreateRole" class="btn btn-secondary">Create New Role</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Display Name
            </th>
            <th>
                Email
            </th>

            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in roleAndModel.AllUsers)
        {
            <tr>
                <td>
                    @item.DisplayName
                </td>


                <td>
                    @item.UserName
                </td>
                <td>
                    <NavLink href="@String.Format("Accounts/Edit/{0}",item.Id)" class="btn btn-warning">Edit</NavLink>|
                    <NavLink href="@String.Format("Accounts/Details/{0}",item.Id)" class="btn btn-primary">Details</NavLink>
                    @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn-sm btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn-sm btn-secondary">Details</a> |*@
                    <button type="button" class="btn-sm btn-danger" data-toggle="modal" data-target="#DeleteModal-@item.Id">
                        Delete
                    </button>
                </td>
            </tr>
            <div class="modal fade" id="DeleteModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Employee</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            confirmation to delete.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <NavLink href="@String.Format("Accounts/Delete/{0}",item.Id)" class="btn btn-danger">Delete</NavLink>
                            @*<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn bg-danger">Delete</a>*@
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>
<h2 class="text-primary">All Roles</h2>
<table class="table">
    <thead>
        <tr>

            <th>
                Name
            </th>

            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in roleAndModel.AllRoles)
        {
            <tr>
                <td>
                    @item.Name
                </td>


                <td>
                    @*<a asp-action="EditRole" asp-route-roleId="@item.Id" class="btn-sm btn-warning">Edit</a> |*@
                    <NavLink href="@String.Format("Accounts/RoleDetails?roleId={0}",item.Id)" class="btn btn-warning">Details</NavLink>
                    <NavLink href="@String.Format("Accounts/EditRole?roleId={0}",item.Id)" class="btn btn-danger">Edit</NavLink>
                    <button type="button" class="btn-sm btn-danger" data-toggle="modal" data-target="#DeleteModal-@item.Id">
                        Delete
                    </button>
                </td>
            </tr>
            <div class="modal fade" id="DeleteModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Employee</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            confirmation to delete.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <NavLink href="@String.Format("Accounts/Delete/{0}",item.Id)" class="btn btn-danger">Delete</NavLink>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn bg-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>



@code {

    [Parameter]
    public ViewUsersAndRolesViewModel roleAndModel { get; set; }
}
